extends layout

block content
  h1= title
  p Rows: #{query.rows}
  p Columns: #{query.cols}

  - var rows = Number(query.rows)
  - var cols = Number(query.cols)

  if (!Number.isInteger(rows) || !Number.isInteger(cols))
    p Rows and Colums must be an integer!
  elif(rows < 3 || rows > 13)
    p Rows has to be in the range of 3-13
  elif(cols < 3 || cols > 13)
    p Columns has to be in the range of 3-13
   else
    table#outer
      - for(let i = 0; i < rows; i++) {
        tr#middle
          - for(let j = 0; j < cols; j++) {
            td= i - j
          - }
      - }